.cardName {
	font-weight: 700;
}

.dateHide{ 
	display: none;
}

.dateGreen {
	background-color: green;
}

.dateRed {
	background-color: red;
}

.dateYellow {
	background-color: yellow;
}

.side-nav{
	width: 200px;
	top: 64px;
}
.frame{
	padding-left: 200px;
}

.navBack{
	background-color: #343843;
}
