<div class="row">
  <div class="col s12">
    <center>
      <h3 class="phoneSideLeft newContTop orange-text">Professional Contacts</h3>
    </center>
  </div>
</div>
<div style="background-color: #eceff1">
  <!-- Angular Sort Function by Professional and Last Name -->
  <div ng-repeat="people in contacts | filter: { contactType: 'professional'} | orderBy: 'last_name'" >
    <div class="row">
      <div class="fullCont">
        <div class="col m4 leftCol bottomShadow phoneSideLeft">
          <div class="row cardImg">
            <center>
            <i class="large material-icons cardAvatar orange-text">account_circle</i>
            <h4><a ng-href="#!/{{people.id}}/{{people.contactType}}ContactDetails" class="orange-text cardName">{{people.first_name}} {{people.last_name}}</a></h4>
            <h5 class="orange-text">{{people.proMem}}</h5>
            </center>
          </div>
          <hr>
<!-- Edit/DeletButtons -->
          <div class="row cardRevise">
            <center>
            <a ng-href="#!/{{people.id}}/edit{{people.contactType}}Contact" class="yellow-text"><i class="editCon material-icons yellow-text">edit</i>Edit</a>
            <a class="deleteCon red-text text-darken-3" ng-click="deleteContact(people.id)"><i class="material-icons red-text text-darken-3">delete_forever</i>Delete</a>
            </center>
          </div>
        </div>
<!-- Middle Row Contact Dates -->
        <div class="col m6 rightCol bottomShadow">
          <div class="row bottomShadow">
            <div class="col m5 contUpcom" style="width: 450px;">
              <div class="row contUpTxt">Up-Coming Dates:</div>
              <div class="row center-align">
                <center>
                <div class="col m4">
                  <div class="contCircleGreen" ng-class="changeCircle(people.birthDaysAway)">
                    <h4 class="cirNum" ng-init="updateBdayDays(people.birthdate, people.id)">{{people.birthDaysAway}}</h4>
                    <p class="cirText">Days</p>
                    <p class="cirText">Away</p>
                    <p>Birthday</p>
                  </div>
                </div>
                <div class="col m4">
                  <div class="contCircleGreen" ng-class="changeCircle(people.annivDaysAway)">
                    <h4 class="cirNum" ng-init="updateAnivDays(people.anniversary, people.id)">{{people.annivDaysAway}}</h4>
                    <p class="cirText">Days</p>
                    <p class="cirText">Away</p>
                    <p>Anniversary</p>
                  </div>
                </div>
                <div class="col m4">
                  <div class="contCircleGreen" ng-class="changeCircle(people.specDaysAwya)">
                    <h4 class="cirNum" ng-init="updateSpecDays(people.specialDate, people.id)">{{people.specDaysAwya}}</h4>
                    <p class="cirText">Days</p>
                    <p class="cirText">Away</p>
                    <p>Special</p>
                  </div>
                </div>
                </center>
              </div>
            </div>
<!-- Right Column of Contact Icons -->
          <div class="col m1 right contButtons phoneSideLeft">
            <div class="row center-align sideContBtns"><a href="tel:{{people.phone}}"><i class="Small material-icons sidePush light-green-text text-accent-3">local_phone</i></a></div>
            <div class="row center-align sideContBtns"><a href="mailto:{{contact.email}}"><i class="Small material-icons sidePush light-blue-text">email</i></a></div>
            <div class="row center-align sideContBtns"><a href="https://www.google.com/maps/place/{{people.street_1}}+{{people.street_2}}+{{people.city}}+{{people.state}}+{{people.zip}}" target="_blank"><i class="Small material-icons sidePush yellow-text text-accent-3">home</i></a></div>
          </div>
          </div>
          <div class="row">
            <a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=gift+for+{{people.proMem}}" target="_blank">
              <div class="col m4 dateButtons contBdayLinkBg center-align">
                <center>
                <img class="conIcon" src="images/icon-gift-m.png" alt="gift icon">
                <p class=" marginClear">Birthday</p>
                </center>
              </div>
            </a>
            <a href="http://shop.hallmarkbusinessconnections.com/anniversary-cards/" target="_blank">
              <div class="col m4 dateButtons contAnnivLinkBg center-align">
                <center>
                <img class="conIcon" src="images/icon-anniv-m.png" alt="Anniversary icon">
                <p class=" marginClear">Anniversary</p>
                </center>
              </div>
            </a>
            <a href="https://www.ediblearrangements.com/fruit-arrangements?SearchText={{people.proMem}}" target="_blank">
              <div class="col m4 dateButtons contSpecLinkBg center-align">
                <center>
                <img class="conIcon" src="images/icon-special-m.png" alt="Special icon">
                <p class=" marginClear">Special</p>
                </center>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>