<div>
	
	<h1>CALANDAR GOES HERE</h1>

</div>

<div class="row">
  <center>
    <a ng-href="#!/newFamilyContact" class="btn btn-info">New Family Member</a>
    <a ng-href="#!/newFriendContact" class="btn btn-info">Add New Friend</a>
    <a ng-href="#!/newProfessionalContact" class="btn btn-info">Add New Professional Contact</a>
  </center>
</div>
<div class="row">
	<a ng-href="#!/AllContacts" class="btn btn-info">All Contacts</a>
</div>

<!-- ng-repeat='person in contacts | filter: contactType:"family"' -->