<div class="row">
  <div class="col s12">
    <center>
      <h3 class="phoneSideLeft newContTop light-blue-text text-lighten-3">Family Phone Call Reminder</h3>
    </center>
  </div>
</div>
<div style="background-color: #eceff1">
  <!-- Family Memeber Phone -->
    <div class="col m9"> 
      <div ng-repeat="people in contacts | filter: { contactType: 'family'} | filter: { callRem: true} | orderBy: 'LastCallDate'">
        <div class="row">
          <div class="fullCont">
            <div class="col m1 remColorTag" ng-class="getLastCall(people.LastCallDate)"></div>
            <div class="col m4 leftCol bottomShadow phoneSideLeft">
              <div class="row cardImg">
                <center>
                <i class="large material-icons cardAvatar light-blue-text text-lighten-3">account_circle</i>
                <h4><a ng-href="#!/{{people.id}}/{{people.contactType}}ContactDetails" class="cardName light-blue-text text-lighten-3">{{people.first_name}} {{people.last_name}}</a></h4>
                <h5 class="light-blue-text text-lighten-3">{{people.familyMem}}</h5>
                </center>
              </div>
            </div>
            <div class="col m6 rightCol bottomShadow">
                <div class="col m5">
                  <div class="row phoneRemTop">
                    <h5 class="phoneRemCat">Telephone:</h5>
                    <p class="phoneRemInfo">{{people.phone}}</p>
                  </div>
                  <div class="row phoneRemBot">
                    <h5 class="phoneRemCat">You have not called in:</h5>
                    <p class="phoneRemInfo" ng-init="daysAgo(people.LastCallDate)"></p>
                  </div>
                </div>
            <div class="col m2 right rightButtonColumn contButtons phoneBack">
                <div class="row center-align rightPhoneRem"><a href="tel:{{people.phone}}"><i class="medium material-icons sidePush black-text">local_phone</i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>