<div style="background-color: #eceff1">
  <!-- Famil Memeber Phone -->
  <div class="row">
    <h5 class="phoneInfo">Family Phone Contacts:</h5>
  </div>
    <div class="col m9">
      
      <div ng-repeat="people in contacts | filter: { contactType: 'family'} | orderBy: 'last_name'" >
        <div class="row">
          <div class="fullCont">
            <div class="col m1 famColor"></div>
            <div class="col m4 leftCol bottomShadow phoneSideLeft">
              <div class="row cardImg">
                <center>
                <i class="large material-icons cardAvatar light-blue-text text-lighten-3">account_circle</i>
                <h4><a ng-href="#!/{{people.id}}/{{people.contactType}}ContactDetails" class="light-blue-text text-lighten-3 cardName">{{people.first_name}} {{people.last_name}}</a></h4>
                <h5 class="light-blue-text text-lighten-3">{{people.familyMem}}</h5>
                </center>
              </div>
            </div>
            <div class="col m6 rightCol bottomShadow">
                <div class="col m5">
                  <div class="row">
                    <h5 class="phoneCat">Telephone:</h5>
                    <p class="phoneInfo">{{people.phone}}</p>
                  </div>
                  <div class="row phoneMidRow">
                    <h5 class="phoneCat">Email:</h5>
                    <p class="phoneInfo">{{people.email}}</p>
                  </div>
                  <div class="row">
                    <h5 class="phoneCat">Address:</h5>
                    <p class="phoneInfo">{{people.street_1}}</p>
                    <p class="phoneInfo">{{people.street_2}}</p>
                    <p class="phoneInfo">{{people.city}}, {{people.state}} {{people.zip}}</p>
                  </div>
                </div>
            <div class="col m2 right rightButtonColumn contButtons phoneSideLeft">
                <div class="row center-align rightButtons"><a href="tel:{{people.phone}}"><i class="medium material-icons sidePush light-green-text text-accent-3">local_phone</i></a></div>
                <div class="row center-align rightButtons"><a href="mailto:{{contact.email}}"><i class="medium material-icons sidePush light-blue-text">email</i></a></div>
                <div class="row center-align rightButtons"><a href="https://www.google.com/maps/place/{{people.street_1}}+{{people.street_2}}+{{people.city}}+{{people.state}}+{{people.zip}}" target="_blank"><i class="medium material-icons sidePush yellow-text text-accent-3">home</i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Famil Memeber Phone -->
      <div class="row">
        <h5 class="phoneInfo">Friends Phone Contacts:</h5>
      </div>
      <div ng-repeat="people in contacts | filter: { contactType: 'friend'} | orderBy: 'last_name'" >
        <div class="row">
          <div class="fullCont">
            <div class="col m1 frndColor"></div>
            <div class="col m4 leftCol bottomShadow phoneSideLeft">
              <div class="row cardImg">
                <center>
                <i class="large material-icons cardAvatar green-text text-lighten-2">account_circle</i>
                <h4><a ng-href="#!/{{people.id}}/{{people.contactType}}ContactDetails" class="green-text text-lighten-2 cardName">{{people.first_name}} {{people.last_name}}</a></h4>
                <h5 class="green-text text-lighten-2">{{people.friendMem}}</h5>
                </center>
              </div>
            </div>
            <div class="col m6 rightCol bottomShadow">
                <div class="col m5">
                  <div class="row">
                    <h5 class="phoneCat">Telephone:</h5>
                    <p class="phoneInfo">{{people.phone}}</p>
                  </div>
                  <div class="row phoneMidRow">
                    <h5 class="phoneCat">Email:</h5>
                    <p class="phoneInfo">{{people.email}}</p>
                  </div>
                  <div class="row">
                    <h5 class="phoneCat">Address:</h5>
                    <p class="phoneInfo">{{people.street_1}}</p>
                    <p class="phoneInfo">{{people.street_2}}</p>
                    <p class="phoneInfo">{{people.city}}, {{people.state}} {{people.zip}}</p>
                  </div>
                </div>
            <div class="col m2 right rightButtonColumn contButtons phoneSideLeft">
                <div class="row center-align rightButtons"><a href="tel:{{people.phone}}"><i class="medium material-icons sidePush light-green-text text-accent-3">local_phone</i></a></div>
                <div class="row center-align rightButtons"><a href="mailto:{{contact.email}}"><i class="medium material-icons sidePush light-blue-text">email</i></a></div>
                <div class="row center-align rightButtons"><a href="https://www.google.com/maps/place/{{people.street_1}}+{{people.street_2}}+{{people.city}}+{{people.state}}+{{people.zip}}" target="_blank"><i class="medium material-icons sidePush yellow-text text-accent-3">home</i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Professional Memeber Phone -->
      <div class="row">
        <h5 class="phoneInfo">Professional Phone Contacts:</h5>
      </div>
      <div ng-repeat="people in contacts | filter: { contactType: 'professional'} | orderBy: 'last_name'" >
        <div class="row">
          <div class="fullCont">
            <div class="col m1 proColor"></div>
            <div class="col m4 leftCol bottomShadow phoneSideLeft">
              <div class="row cardImg">
                <center>
                <i class="large material-icons cardAvatar orange-text">account_circle</i>
                <h4><a ng-href="#!/{{people.id}}/{{people.contactType}}ContactDetails" class="cardName orange-text">{{people.first_name}} {{people.last_name}}</a></h4>
                <h5 class="orange-text">{{people.proMem}}</h5>
                </center>
              </div>
            </div>
            <div class="col m6 rightCol bottomShadow">
                <div class="col m5">
                  <div class="row">
                    <h5 class="phoneCat">Telephone:</h5>
                    <p class="phoneInfo">{{people.phone}}</p>
                  </div>
                  <div class="row phoneMidRow">
                    <h5 class="phoneCat">Email:</h5>
                    <p class="phoneInfo">{{people.email}}</p>
                  </div>
                  <div class="row">
                    <h5 class="phoneCat">Address:</h5>
                    <p class="phoneInfo">{{people.street_1}}</p>
                    <p class="phoneInfo">{{people.street_2}}</p>
                    <p class="phoneInfo">{{people.city}}, {{people.state}} {{people.zip}}</p>
                  </div>
                </div>
            <div class="col m2 right rightButtonColumn contButtons phoneSideLeft">
                <div class="row center-align rightButtons"><a href="tel:{{people.phone}}"><i class="medium material-icons sidePush light-green-text text-accent-3">local_phone</i></a></div>
                <div class="row center-align rightButtons"><a href="mailto:{{contact.email}}"><i class="medium material-icons sidePush light-blue-text">email</i></a></div>
                <div class="row center-align rightButtons"><a href="https://www.google.com/maps/place/{{people.street_1}}+{{people.street_2}}+{{people.city}}+{{people.state}}+{{people.zip}}" target="_blank"><i class="medium material-icons sidePush yellow-text text-accent-3">home</i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Contacts -->
    </div>
</div>