<div class="row">
	<div class="col s12">
    <table class="striped">
      <tbody>
        <tr>
          <td><h4 for="Name">Name:</h4></td>
		      <td><h3>{{contact.first_name}} {{contact.last_name}}</h3><h5>{{contact.familyMem}}</h5></td>
          
        </tr>
        <tr>
          <td><h4 for="contact">Contact:</h4></td>
          <td>
            <a class="waves-effect waves-light btn" href="tel:{{contact.phone}}"><i class="material-icons left">phone</i>{{contact.phone}}</a>

            <a class="waves-effect waves-light btn" href="mailto:{{contact.email}}"><i class="material-icons left">email</i>{{contact.email}}</a>
          </td>
        </tr>
        <tr>
          <td><h4 for="home_address">Home Address:</h4></td>
          <td><p>{{contact.street_1}} {{contact.street_2}}</p>
              <p>{{contact.city}}, {{contact.state}} {{contact.zip}}</p></td>   
        </tr>
        <tr>
          <td><h4 for="contact">Important Dates:</h4></td>
          <td><strong>Birthdate:</strong> {{contact.birthdate}}  |  <strong>Anniversary:</strong> {{contact.anniversary}}  |  <strong>Special Date:</strong> {{contact.specialDate}}</td>
        </tr>
      </tbody>
    </table>
    <a class="waves-effect waves-light btn blue" ng-href="#!/home"><i class="material-icons">exit_to_app</i>Exit</a>
    <a class="waves-effect waves-light btn yellow" ng-href="#!/{{contact.id}}/editProfessionalContact"><i class="material-icons">edit</i>Edit</a>
    <a class="waves-effect waves-light btn red" ng-click="deleteContact(contact.id)"><i class="material-icons">delete_forever</i>Delete</a>
	</div>
</div>



