<div class="row">
	<div class="col s12">
	<center>
		<h1>All Contacts</h1>
	</center>
	</div>
</div>
<div class="row">
  <div class="col s12">
    
    <h5>Call Reminder</h5>
    <div ng-repeat="people in contacts | filter: { contactType: 'family'} | filter: { callRem: true}">
      
      <div class="col">
        <center>
        <a tooltipped class="waves-effect waves-light btn callTrack" data-ng-init="getLastCall(people.LastCallDate)" data-position="bottom" data-delay="50" data-tooltip="{{people.phone}}" href="tel:{{people.phone}}" ng-click="updateCall(people.id)"><i class="material-icons left">phone</i>{{people.familyMem}}</a>
        </center>
      </div>

    </div>  
    
</div>

<div class="row">
	<div class="col s12 m3">
		<h3>Family</h3><a class="btn-floating btn-small waves-effect waves-light red" ng-href="#!/newFamilyContact"><i class="material-icons">add</i></a>
  </center>
		<div ng-repeat="people in contacts | filter: { contactType: 'family'}">
          <div class="card hoverable blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><a ng-href="#!/{{people.id}}/FamilyContactDetails">{{people.first_name}} {{people.last_name}}</a></span>
              <p>{{people.familyMem}}</p>
            </div>
            <div class="card-action">
              <div class="row allBday">
                <a data-ng-init="getBirthday(people.birthdate)">Birthday</a>
              </div>
              <div class="row allAnniv">
                <a data-ng-init="getAnniversary(people.anniversary)">Anniversary</a>
              </div>
              <div class="row allSpec">
                <a data-ng-init="getSpecial(people.specialDate)">Special</a>
              </div>
            </div>
          </div>
        </div>		
	</div>
	<div class="col s12 m3">
		<center>
		<h3>Friends</h3><a class="btn-floating btn-small waves-effect waves-light red" ng-href="#!/newFriendContact"><i class="material-icons">add</i></a>
		</center>
		<div ng-repeat="people in contacts | filter: { contactType: 'friend'}">
          <div class="card hoverable blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><a ng-href="#!/{{people.id}}/FriendContactDetails">{{people.first_name}} {{people.last_name}}</a></span>
              <p>{{people.friendMem}}</p>
            </div>
            <div class="card-action">
              <div class="row allBday">
                <a data-ng-init="getBirthday(people.birthdate)">Birthday</a>
              </div>
              <div class="row allAnniv">
                <a data-ng-init="getAnniversary(people.anniversary)">Anniversary</a>
              </div>
              <div class="row allSpec">
                <a data-ng-init="getSpecial(people.specialDate)">Special</a>
              </div>
            </div>
          </div>
        </div>		
	</div>
	<div class="col s12 m3">
		<center>
		<h3>Professional</h3><a class="btn-floating btn-small waves-effect waves-light red" ng-href="#!/newProfessionalContact"><i class="material-icons">add</i></a>
		</center>
		<div ng-repeat="people in contacts | filter: { contactType: 'professional'}">
          <div class="card hoverable blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><a ng-href="#!/{{people.id}}/ProfessionalContactDetails">{{people.first_name}} {{people.last_name}}</a></span>
              <p>{{people.proMem}}</p>
            </div>
            <div class="card-action">
              <div class="row allBday">
                <a data-ng-init="getBirthday(people.birthdate)">Birthday</a>
              </div>
              <div class="row allAnniv">
                <a data-ng-init="getAnniversary(people.anniversary)">Anniversary</a>
              </div>
              <div class="row allSpec">
                <a data-ng-init="getSpecial(people.specialDate)">Special</a>
              </div>
            </div>
          </div>
        </div>		
	</div>
</div>