<!-- <script type="text/javascript">
	$(document).ready(function() {
    $('select').material_select();
       });
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 250, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
    });
</script> -->


<h1>Test Compare</h1>
<!-- <div class="input-field col s3">
    <label for="birthdate" class="">Birthdate</label>
    <input type="text" class="datepicker">
</div> -->

<div class="container">
        <div class="row">
            <div class="section col s4">
                <div input-field>
                    <select ng-model="select.value" material-select>
                        <option ng-repeat="value in select.choices">{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="section col s8">
                <h5>You selected: <b>{{select.value}}</b></h5>
            </div>
        </div>
    </div>